<%= form_for current_debater.blockings.build(:blocked_id => @debater.id), :remote => true do |f| %>
	<div><%= f.hidden_field :blocked_id %></div>
	<div class="actions"><%= f.submit "Block" %></div>
<% end %>