<% unless current_debater == @debater %>
	<span id = "follow_form">
		<% if current_debater.following?(@debater) %>
			<%= render 'unfollow' %>
		<% else %>
			<%= render 'follow' %>
		<% end %>
	</span>
<% end %>