<span class="page-title"><h1>Debunky Rankings</h1></span>
<br>


<div class = "list_debaters">
	<%= render :partial => 'list_debaters', :locals => {:debaterranks => @debaterranks} %>
</div>

<script>	
$(document).ready(function() {
    // Make pagination submit ajax
	$('.pagination a').attr('data-remote', 'true');
});
</script>