<h1>Debaters</h1>

<div class = "list_names">
	<h3>Debaters</h3>
	<ul>
		<% @debaterranks.each do |debater| %>
			<li><%= link_to debater[:name], debater %></li>
		<% end %>
	</ul>	
</div>
	
	

<div class = "list_ranks">
	<h3>Debates Won</h3>
	<ul>
		<% @debaterranks.each do |debater| %>
			<li><%= ((debater[:rank] * 100.0).round / 100.0) if !debater[:rank].nil? %>%</li>
		<% end %>
	</ul>	
</div>	

<%= will_paginate %>