<h1>Sign up</h1>
<%= form_for(@debater) do |f| %>
	<div class = "field">
		<%= f.label :name %> <br />
		<%= f.text_field :name %>
	</div>
	<div class = "action">
		<%= f.submit "#" %>
	</div>	
<% end %>

<script>
$.ajax({
  type: "POST",
  url: "/debates/91/end.js",
  success: function(){
     
  }
});
</script>