<%= form_for(:session, :url => sessions_path) do |f| %>
	<div class = "field">
		<%= f.label :name %> <br />
		<%= f.text_field :name %>
	</div>
	<div class = "action">
		<%= f.submit "#" %>
	</div>	
<% end %>