<div class="argument" onclick="upVote(<%= argument.id.to_s %>, true)" data-time="<%= argument.created_at.to_i %>"> <%= argument.content %> </div>
<%= render :partial => "/votes/vote", :locals => {:argument => argument} %>