<div class="chat_container">
	<div class= "name-chat">
		<% if argument.debater_id == judgeid %>
			judge
		<% else %>
			<% if debate.winner_id.nil? or debate.winner_id == 0 %>
				<%= argument.debater.mini_name %>
			<% else %>
				<%= argument.debater_id == debate.winner_id ? "winner" : "un-winner" %> 
			<% end %>
		<% end %>
	</div>
	
	<span class = "argument">: <%= argument.content %>
		<% if argument.image_url %>
			<br />
			<%= image_tag(argument.image_url, :onMouseOver => "imgEnlarge(this);", :onMouseOut => "imgReduce(this);") %>
		<% end %>
	</span>
</div>

