<%= form_for Argument.new, :remote => true do |f| %>
	<div class = "field">
		<%= f.text_field :content %>
	</div>
	<%= f.hidden_field :debate_id, :value => debate.id %>
	<div class = "action">
		<%= f.submit "argument" %>
	</div>	
<% end %>