<% judging_priority[:joined_no_judge].each do |debate| %>
	<div class="debate_link" data-id="<%= debate.id %>"> 
		<li> <span class = "debate-link-topic">
		<%= link_to debate.tp.topic, debate %> </span>
		<% if debate.tp.position == true %>
			<span class = "pro">&nbsp</span>
		<% else %> 
		<% if debate.tp.position == false %>
			<span class = "con">&nbsp</span>
		<% end %>
		<% end %> 
		- <%= link_to "\"#{debate.topic}\"", debate %> </li>
	</div>
<% end %>