<div class="debate_link_joined" data-id="<%= debate.id %>", data-joined-at="<%= debate.joined_at.to_i %>"> 
	<li> <%= "#{debate.topic_positions.first(:order => "created_at ASC").position == true ? "PRO" : "CON"}: #{debate.topic_positions.first(:order => "created_at ASC").topic}"%> >>> <%= link_to debate.topic, "/judgings/create/#{debate.id}" %> </li>
</div>