<!-- must pass in judging to partial!!! -->
<div class='judging_results'>
	Winner is <%= link_to Debater.find(judging.winner_id).name, Debater.find(judging.winner_id) %>!!! <br> 
	<!-- <%= "Total Judge Upvotes: #{upvotes}" %> <br />
	<%= "Total Judge Downvotes: #{downvotes}" %> <br />  -->
	(see judge's votes in blue) <br>
	<br />
	<%= "Judge #{judging.debater.name} says: \"#{judging.comments}\"" %>
</div>