<!-- must pass in judging to partial!!! -->
<div class='judging_results'>
	<%= "Winner is #{Debater.find(judging.winner_id).name}!!!" %><br> <br>
	<%= "#{judging.debater.name}: \"#{judging.comments}\"" %>
</div>