<!-- must pass in judging to partial!!! -->
<div class='judging_results'>
	<strong>Winner:</strong> 
	<%= link_to Debater.find(judging.winner_id).name, Debater.find(judging.winner_id) %> <br> 
	
	<strong>Judge <%= link_to judging.debater.name, judging.debater %> says:</strong> "<%= judging.comments %>"
	
</div>