<%# javascript_include_tag "jquery.qtip" %>
<%# render :partial => "/shared/init_juggernaut" %>

<script type="text/javascript"> 
  jug.subscribe("judging_index", function(data){
	// alert("got data");

	// first remove the given object
  	// $(".debate_link_joined[data-id="+ data.debate_id +"]").remove();
	// $(".debate_link_unjoined[data-id="+ data.debate_id +"]").remove();
	
	if (data.function == "remove") {
		$(".debate_link_joined[data-id="+ data.debate_id +"]").remove();
		// $(".debate_link_unjoined[data-id="+ data.debate_id +"]").remove();
	}	
	
	if (data.function == "hide_joined") {
		$(".debate_link_joined[data-id="+ data.debate_id +"]").hide();
	}
	if (data.function == "unhide_joined") {
		$(".debate_link_joined[data-id="+ data.debate_id +"]").show();
	}
	
	if (data.function == "append_to_joined") {
		<% if Rails.env.development? or Rails.env.test? %>      	
			$("#joined_no_judge").children(".containercontent").append(data.object);
		<% else %>
			$("#joined_no_judge").children(".containercontent").append(data.object[0]);
		<% end %>
		
	}
	// if (data.function == "append_to_unjoined") {
	// 	<% if Rails.env.development? or Rails.env.test? %>      	
	// 		$("#unjoined_no_judge").children(".containercontent").append(data.object);
	// 	<% else %>
	// 		$("#unjoined_no_judge").children(".containercontent").append(data.object[0]);
	// 	<% end %>
	// 	
	// }
	
	if (data.function == "add_to_joined") {
		<% if Rails.env.development? or Rails.env.test? %>   
			var inserted = false;
			$(".debate_link_joined").each(function(index) {
				if ($(data.object).attr('data-joined-at') < $(this).attr('data-joined-at') & inserted == false) {
					$(this).before(data.object);
					inserted = true;
				}
			});
			if (inserted == false) {
				$("#joined_no_judge").append(data.object);
			}		   	
		<% else %>
			var inserted = false;
			$(".debate_link_joined").each(function(index) {
				if ($(data.object[0]).attr('data-joined-at') < $(this).attr('data-joined-at') & inserted == false) {
					$(this).before(data.object[0]);
					inserted = true;
				}
			});
			if (inserted == false) {
				$("#joined_no_judge").append(data.object[0]);
			}		
		<% end %>
	}
	// if (data.function == "add_to_unjoined") {
	// 	<% if Rails.env.development? or Rails.env.test? %>      	
	// 		var inserted = false;
	// 		$(".debate_link_unjoined").each(function(index) {
	// 			if ($(data.object).attr('data-created-at') < $(this).attr('data-created-at') & inserted == false) {
	// 				$(this).before(data.object);
	// 				inserted = true;
	// 			}
	// 		});
	// 		if (inserted == false) {
	// 			$("#unjoined_no_judge").append(data.object);
	// 		}		
	// 	<% else %>
	// 		var inserted = false;
	// 		$(".debate_link_unjoined").each(function(index) {
	// 			if ($(data.object[0]).attr('data-created-at') < $(this).attr('data-created-at') & inserted == false) {
	// 				$(this).before(data.object[0]);
	// 				inserted = true;
	// 			}
	// 		});
	// 		if (inserted == false) {
	// 			$("#unjoined_no_judge").append(data.object[0]);
	// 		}		
	// 	<% end %>
	// }
  });
</script>

<span class="page-title"><h1>Debates for Judging</h1></span>
<br>

<div id="joined_no_judge" class="judge_container">
	<h2>Debates</h2>
	<div class = "topic-link-width topic-heading" style="min-width: 38%;max-width:38%;"> Topic </div>
	<div class = "topic-starter-width topic-heading" style="min-width:16%;max-width:16%" > Creator </div>
	<div class = "topic-starter-width topic-heading" style="min-width: 16%;max-width:16%" > Joiner </div>
	<div class = "topic-argument-width topic-heading"> Joined At </div>
	<div class="containercontent" style = "max-height:600px;">
		<% if @joined_no_judge %>
			<%= render :partial => "debate_link_joined", :locals => {:joined_no_judge => @joined_no_judge} unless @joined_no_judge.nil? %>
		<% else %>
			<br />
			Currently no debates waiting for a Judge.  Why don't you <%= link_to "start one", topic_positions_path %>?
		<% end %>
	</div>	
	<div class="list_pagination">
		<%= will_paginate @joined_no_judge unless @joined_no_judge.nil? %>
	</div>
	
</div>
<!-- to put unjoined debates back in, do the exact same thing as above but for unjoined debates -->
