<script src="http://debate-app-jug.herokuapp.com:80/application.js" type="text/javascript"></script>

<script type="text/javascript"> 
  var jug = new Juggernaut({     
     host: 'debate-app-jug.herokuapp.com',
     port: 80,
	 secure: false,
	 transports: ['xhr-polling', 'jsonp-polling']
  });

  jug.subscribe("judging_index", function(data){
	alert("got data");
  });
</script>

<h1>Debates for Judging</h1>

<% @judging_priority[:joined_no_judge].each do |debate| %>
	<div class="debate_link" data-id="<%= debate.id %>"> 
		<li> <%= link_to debate.topic, "/judgings/create/#{debate.id}" %> </li>
	</div>
<% end %>

<% @judging_priority[:unjoined_no_judge].each do |debate| %>
	<div class="debate_link" data-id="<%= debate.id %>"> 
		<li> <%= link_to debate.topic, "/judgings/create/#{debate.id}" %> </li>
	</div>
<% end %>