<% if Rails.env.development? or Rails.env.test? %>
	<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
	  var jug = new Juggernaut;
	</script>

<% else %>	
	<script src="http://debate-app-jug.herokuapp.com:80/application.js" type="text/javascript"></script>
	<script type="text/javascript">
	  var jug = new Juggernaut({     
	     host: 'debate-app-jug.herokuapp.com',
	     port: 80,
		 secure: false,
		 transports: ['xhr-polling', 'jsonp-polling']
	  });	
	</script>
<% end %>

<script type="text/javascript"> 
  jug.subscribe("judging_index", function(data){
	// alert("got data");

	// first remove the given object
  	$(".debate_link_joined[data-id="+ data.debate_id +"]").remove();
	$(".debate_link_unjoined[data-id="+ data.debate_id +"]").remove();
	
	if (data.function == "append_to_joined") {
		<% if Rails.env.development? or Rails.env.test? %>      	
			$("#joined_no_judge").append(data.object);
		<% else %>
			$("#joined_no_judge").append(data.object[0]);
		<% end %>
		
	}
	if (data.function == "append_to_unjoined") {
		<% if Rails.env.development? or Rails.env.test? %>      	
			$("#unjoined_no_judge").append(data.object);
		<% else %>
			$("#unjoined_no_judge").append(data.object[0]);
		<% end %>
		
	}
	
	if (data.function == "add_to_joined") {
		<% if Rails.env.development? or Rails.env.test? %>   
			var inserted = false;
			$(".debate_link_joined").each(function(index) {
				if ($(data.object).attr('data-joined-at') < $(this).attr('data-joined-at') & inserted == false) {
					$(this).before(data.object);
					inserted = true;
				}
			});
			if (inserted == false) {
				$("#joined_no_judge").append(data.object);
			}		   	
		<% else %>
			var inserted = false;
			$(".debate_link_joined").each(function(index) {
				if ($(data.object[0]).attr('data-joined-at') < $(this).attr('data-joined-at') & inserted == false) {
					$(this).before(data.object[0]);
					inserted = true;
				}
			});
			if (inserted == false) {
				$("#joined_no_judge").append(data.object[0]);
			}		
		<% end %>
	}
	if (data.function == "add_to_unjoined") {
		<% if Rails.env.development? or Rails.env.test? %>      	
			var inserted = false;
			$(".debate_link_unjoined").each(function(index) {
				if ($(data.object).attr('data-created-at') < $(this).attr('data-created-at') & inserted == false) {
					$(this).before(data.object);
					inserted = true;
				}
			});
			if (inserted == false) {
				$("#unjoined_no_judge").append(data.object);
			}		
		<% else %>
			var inserted = false;
			$(".debate_link_unjoined").each(function(index) {
				if ($(data.object[0]).attr('data-created-at') < $(this).attr('data-created-at') & inserted == false) {
					$(this).before(data.object[0]);
					inserted = true;
				}
			});
			if (inserted == false) {
				$("#unjoined_no_judge").append(data.object[0]);
			}		
		<% end %>
	}
  });
</script>

<span class="page-title"><h1>Debates for Judging</h1></span>
<br>

<div id="joined_no_judge" class="judge_container">
	<h2>Joined Debates</h2>
	<div class="containercontent">
		<% @judging_priority[:joined_no_judge].each do |debate| %>
			<%= render :partial => "debate_link_joined", :locals => {:debate => debate} %>
		<% end %>
	</div>
</div>

<div id="unjoined_no_judge" class="judge_container">
	<h2>Unjoined Debates</h2>
	<div class="containercontent">
		<% @judging_priority[:unjoined_no_judge].each do |debate| %>
			<%= render :partial => "debate_link_unjoined", :locals => {:debate => debate} %>
		<% end %>
	</div>
</div>