<div class="debate-background">
	<div class="debate" data-id="<%= debate.id %>">  
			<% arguments.each do |argument| %>
			
				<% if argument.debate_over %>
					<%= render :partial => "/arguments/chat", :locals => {:argument => argument, :judgeid => debate.judge_id, :currentid => currentid, :debate => debate} %>
				<% else %>
					<%= render :partial => "/arguments/argument", :locals => {:argument => argument, :judgeid => debate.judge_id, :status => status, :currentid => currentid, :debate => debate} %>
				<% end %>
		
			<% end %>
			
			<% if debatercount == 1 and creator.timedout?(creator.last_request_at) %>
				<span style="font-size:13px; float: left; color: #555555;">
					<%= "#{creator.name} seems to have timed out." %> </span>
			<% end %>
	</div>
</div>