<div class="debate-background">
<div class="debate" data-id="<%= debate.id %>">  
		<% debate.arguments(:order => "created_at ASC").each do |argument| %>
			<%= render :partial => "/arguments/argument", :locals => {:argument => argument, :judgeid => debate.judge_id, :status => debate.status, :currentid => currentid} %>
		<% end %>
</div>
</div>