<div class="debate_link_button">
	<buttonsmall style="width: 70px; background-color: #5bb9df;" onClick="$('#debate-link-field').toggle(); $('#debate-link-field').focus();">
		Share Link
	</buttonsmall>
</div>
