<input id="debate-link-field" onClick="this.select();" type="text" value="<%= request.url %>" hidden="true" /></input>

<div class="debate_link_button">
	<buttonsmall style="width: 75px;" onClick="$('#debate-link-field').toggle(); $('#debate-link-field').focus();">
		Share Link
	</buttonsmall>
</div>