Ongoing Debates
<% @debates.each do |debate| %>
  	<% if debate.end_time.nil? %>
		<li> <%= link_to debate.topic, debate %> </li>
	<% end %>
<% end %>

<br><br>Completed Debates
<% @debates.each do |debate| %>
	<% if !debate.end_time.nil? %>
		<li> <%= link_to debate.topic, debate %> </li>
	<% end %>
<% end %>