<!-- local variable @status passed in from debates controller show action -->
<div class='statuspanel'>
	<div class="status">
		<h2><%= status[:status_value]%></h2>
	</div>
	<div class = "debate-results">
	</div>
	
</div>