<!-- local variable @status passed in from debates controller show action -->
<div class='status'>
	<div class = "debate-results">
	</div>
	
	<div id = "judge-timer">
	</div>

	<%= status[:status_value]%>

</div>