<div class="timer"><div class="timertitle">Debater 1: &nbsp;</div><div id="timer1-<%= debate_id %>"></div></div>
<div class="timer"><div class="timertitle">Debater 2: &nbsp;</div><div id="timer2-<%= debate_id %>"></div></div>

