<div class="timer"><div class="timertitle"><%= debater1 %>: &nbsp;</div><span id="timer1-<%= debate_id %>"></span></div>
<div class="timer"><div class="timertitle"><%= debater2 %>: &nbsp;</div><span id="timer2-<%= debate_id %>"></span></div>

