<% if debate.status[:status_code] <= 2 && debate.participant?(current_debater) %>

	<span class="waiting-icon" id="waiting"><%= link_to image_tag("alarm-clock.png", :alt => "Alert Me When Debate Starts", :size => "50x50"), {:action => :waiting} %> </span>

<% end %>