<%= form_for @argument, :url => {:controller => "debates", :action => "create"} do |f| %>
	<div class = "field">
		<%= f.label :content %> <br />
		<%= f.text_field :content %>
	</div>
	<div class = "action">
		<%= f.submit "argument" %>
	</div>	
<% end %>