<br>
<h1>DeBunky</h1>
<br>

<div class="landing_container">
	<span class="debate-topic-position">
		Get Your Debate On!! We'll Match You Up!!
		<br><br>
		<%= render '/topic_positions/form_topic_position' %>
	</span>
</div>
<div class="landing_container">
	<center>
		OR
	</center>
	<div class="middlelanding">
		<buttond class = "largebutton">
				<%= link_to "Be a Judge", judgings_path %>
		</buttond>
	</div>
</div>