<span class="page-title"><h1>Welcome to DeBunky.com!</h1></span>
<br>

<div class="landing_container_left">
	<h2>Start a Debate </h2>
	<div class="middlelanding">
		<div class="buttond2">
			<span class="debate-topic-position">
				<%= render '/topic_positions/form_topic_position' %>
			</span>
		</div>
	</div>
</div>

<div class="landing_container_right">
	<h2>Judge a Debate </h2>
	<div class="middlelanding">
		<div class="buttond2">
			<h3>Choose a Debate to Judge</h3>
			<buttond>
					<%= link_to "Debates", judgings_path %>
			</buttond>
		</div>
	</div>
</div>

<div class="or_container">
	<h2>or</h2>
<div>
