/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
	width: 100%;
	text-align: center;
	margin:0 auto; 
	background-image: url(landscape_debunky.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #5bb9df;
	background-attachment: fixed;
}

.sitewidth {
	width: 800px;
	text-align: center;
	margin: 0 auto;
}

.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}


