.argument {
	margin-right: 5px;
	width: 100px;
}

.button {
	float: left; 
	margin-right: 5px;
}

.argument_container {
	width: 85%;
	margin-bottom: 1px;
	padding-top: 5px;
	height: auto;
	text-align: left;
	float: left;

}

.chat_container {
	width: 85%;
	margin-bottom: 1px;
	padding-top: 5px;
	height: auto;
	text-align: left;
	float: left;
	background-color: #ffffff;
}

.creator {
	background-color: #eef0ee;
}

.joiner {
	background-color: #e0eeee;
}

.name-creator {
	color: #015353;
	font-style: italic;
	font-size: 12px;
	width: 65px;
	text-align: left;
	float:left;
}

.name-joiner {
	color: #cc0033;
	font-style: italic;
	font-size: 12px;
	width: 65px;
	text-align: left;
	float:left;
	
}

.name-chat {
	color: #000000;
	font-style: italic;
	font-size: 12px;
	width: 65px;
	text-align: left;
	float:left;
	
}