.argument {
	float: left;
	margin-right: 5px;
	
}

.button {
	float: left; 
	margin-right: 5px;
}

.argument_container {
	margin-bottom: 2px;
	height: 22px;
	padding-top: 5px;
}

.creator {
	background-color: #eef0ee;
}

.joiner {
	background-color: #e0eeee;
}

.name-creator {
	color: #015353;
	font-style: italic;
	width: 42px;
	text-align: left;
	float:left;
}

.name-joiner {
	color: #cc0033;
	font-style: italic;
	width: 42px;
	text-align: left;
	float:left;
	
}
