// Place all the styles related to the Debates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#debatebody {
	width: 720px;
	margin: 1em auto;
	text-align: center;
}


.debatecontainer {
	padding-top: 5px;
	height: 650px;
	margin: 5px 20px;
	border:1px solid #ccc;
		
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/* Shadow */
	-webkit-box-shadow:0 0 40px #bcd;
    -moz-box-shadow: 0 0 40px #ccc;
    box-shadow:0 10px 20px #abc;
}

.timer {
	font-size: 16px;
	padding: 3px;
	float:left;
	padding-right: 10px;
	border-right:2px solid #FFF;
	
	margin: 0 5px;
}

.timertitle {
	float: left;
	
}

.debate {
	padding: 10px;
	clear:both;
	font-family: Ariel;
	font-size: 15px;
	background-color: #fff;
	height: 400px;
	overflow: auto;
}

.debate-background {
	padding: 5px;
	background-color: #fff;
}
.viewing_count {
	text-align: center;
	padding-right: 15px;
	background-image: url(whos_online.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

.post_to_debate {
	margin: 10px 0;
}