.divclear {
	clear:both;
}

#debatebody {
	margin: 1em auto;
}

.instruction_box {
	float:right;
	position: relative;
	width: 160px;
	margin-top: 15px;
	margin-right: 15px;
	padding: 5px;
	text-align: left;
	font-size: 13px;
	border:1px solid #ccc;
	background-color: #fafafa;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow:0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    box-shadow:0 5px 10px #000;
}

.instruction_box h3 {
	width: 100%;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	font-size: 13px;
	text-align: center;
	font-weight: bold;
	
	-webkit-box-shadow:0 0 10px #000;  
	-moz-box-shadow: 0 0 10px #000;
	box-shadow:0 2px 10px #000;
	
}

.instruction_box p.cat-note {
	color: red;
}

.cat {
	margin-bottom: 1px;
	font-weight: bold;

}

.instruc_example {
	text-align: center;
}

#statuspanel {
	padding: 10px 10px;
	height: 314px;
	width: 245px;
	margin: 5px 10px;	
	border:1px solid #ccc;
	float: right;	
	background-color: #fafafa;
	
	-webkit-box-shadow:0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    box-shadow:0 5px 10px #000;	
}

.individual-status {
	width: 80px;
	float: left;
	margin-right: 1px;
	
	-webkit-box-shadow:0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    box-shadow:0 5px 10px #000;
}

.individual-status[currently_viewing="true"] {
	background-color: green;	
}

.individual-status[currently_viewing="false"] {
/*	background-color: red;*/		
}

#footnotespanel {
	padding: 10px 10px;
	height: 154px;
	width: 245px;
	margin: 5px 10px;	
	border:1px solid #ccc;
	float: right;	
	background-color: #fafafa;
	
	-webkit-box-shadow:0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    box-shadow:0 5px 10px #000;
}

.footnotescontent {
	overflow: auto;
	text-align: left;
	height: 120px;
}

.post_to_debate {
	padding: 10px 10px;
	width: 480px;
	margin: 5px 10px;	
	border:1px solid #ccc;
/*	float: left;	*/
	background-color: #fafafa;
	clear:both;
	
	-webkit-box-shadow:0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    box-shadow:0 5px 10px #000;
}

.judging_form {
	padding: 10px 10px;
	border:1px solid #ccc;
	background-color: #fafafa;
	
	-webkit-box-shadow:0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    box-shadow:0 5px 10px #000;
}

.judging_results {
	padding: 10px 10px;
	border:1px solid #ccc;
	background-color: #fafafa;
	
	height: 215px;
	overflow:auto;
	
	-webkit-box-shadow:0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    box-shadow:0 5px 10px #000;
}

#footnotespanel h2 {
	-webkit-box-shadow:0 0 10px #000;  
	-moz-box-shadow: 0 0 10px #000;
	box-shadow:0 2px 10px #000;

	font-size: 15px;
	margin-top: 0;
	height: 22px;
	padding-top: 8px;
}

.status h2 {
	-webkit-box-shadow:0 0 10px #000;  
	-moz-box-shadow: 0 0 10px #000;
	box-shadow:0 2px 10px #000;

	font-size: 15px;
	margin-top: 0;
/*	height: 22px;*/
	padding-top: 8px;
}

.containerpanel h2 {
	-webkit-box-shadow:0 0 10px #000;  
	-moz-box-shadow: 0 0 10px #000;
	box-shadow:0 2px 10px #000;

	font-size: 15px;
	margin-top: 0;
	height: 22px;
	padding-top: 8px;
}

.debateleft {
	float: left;
}

.debatecontainer {
	padding: 10px 10px;
	height: 500px;
	width: 480px;
	margin: 5px 10px;
	margin-bottom: 15px;
	border:1px solid #ccc;
	float: left;
	background-color: #fafafa;

	-webkit-box-shadow:0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    box-shadow:0 5px 10px #000;
}

.debate {
	padding: 0px;
	clear:both;
	font-family: Ariel;
	font-size: 15px;
	background-color: #fafafa;
	height: 400px;
	overflow: auto;
}

.debate-background {
	padding: 5px;
	background-color: #fafafa;
}

.container-background {

}

.argument {
	text-align: left;
}

.argument a {
	text-decoration: none;
}

.footnote {
	font-size: 13px;
	line-height: 1em;
	vertical-align: super;
}

.footnote a {
	text-decoration: none;
	overflow: auto;
}

.timer {
	width: 38%;
	font-size: 13.1px;
	font-family: Arial;
	padding: 0 3px;
	float:left;
	padding-right: 10px;
	border-right:2px solid #FFF;
	
	margin: 0 5px;
}

.timertitle {
	float: left;
}

.judge {
	float: left;
	border-right: 2px solid #FFF;
}

#judge-timer {
	padding: 10px 10px;
	margin-bottom: 5px;
	border:1px solid #ccc;
	background-color: #fafafa;
	
	-webkit-box-shadow:0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    box-shadow:0 5px 10px #000;
}

.debate-results {
	margin-top: 15px;
}

.viewing_count {
	float: right;
	text-align: center;
	padding-right: 30px;
	background-image: url(whos_online.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

#slide_menu_1 {
	width: 150px;
	height: 90px;
	position:relative;
	font: bold 60% arial;
	top:150px;
	left:-165px;
	margin-left:3px;
	float:right;
	
}

#footnotes {
	
	float:left;
	text-align: left;
	width: 120px;
	height: 90px;
	padding: 7px;
	overflow:auto;
	
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
}

.footnote {
	font-family: Ariel;
	font-size: 10px;
}

.slide_menu_title {
	width: 10px;
	height: 90px;
	float:right;
	padding: 2px;
	line-height: 10px;
	background-color: #ccc;
	color: #fff;
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/* Shadow */
	-webkit-box-shadow:0 0 40px #bcd;
    -moz-box-shadow: 0 0 40px #ccc;
    box-shadow:0 10px 20px #abc;
}

