.profile {
	float: right;
	width: 20%;
	margin-bottom: 0;
	text-align: center;
}

ul.debaters {
	margin-top: 1em;
}

.debaters li {
	list-style: none;
	text-align: left;
}

.profile_container {
	padding: 10px 10px;
	min-height: 425px;
	width: 600px;
	border: 1px solid silver;
	background-color: #fafafa;
	margin: 0px 0px;
	margin-top: 20px;
	margin-left:24px;
	position: relative;
	overflow: auto;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow:0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    box-shadow:0 5px 10px #000;
}

.profile_container h2 {
	-webkit-box-shadow:0 0 10px #000;  
	-moz-box-shadow: 0 0 10px #000;
	box-shadow:0 2px 10px #000;

	font-size: 30px;
	margin-top: 0;
}

.profile_box {
	padding: 5px 10px;
	height: auto;
	width: 560px;
	border: 1px solid silver;
	background-color: #fafafa;
	margin: 10px;
	margin-top: 10px;
	position: relative;
	overflow: auto;
	text-align: left;
	
	-webkit-box-shadow:0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    box-shadow:0 3px 5px #000;
}

.profile_box h3 {
	margin: 0 auto;	
	margin-bottom: 5px;
	text-align: center;
}

.sidebar {
	border: 1px solid silver;
	float:right;
	width: 85%;
	margin-top: 1em;
	margin-right:5px;
	padding: .5em;
	vertical-align: top;
	background: #fafafa;
	text-align: center;
	
	-webkit-box-shadow:0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    box-shadow:0 3px 5px #000;
}

.sidebar a {
	text-decoration: none;
}

.stats {
	font-size: 75%;
	text-align: center;
}

#follow_form {
	text-align: center;
}

#block_form {
	text-align: center;
}

.new_relationship input[type="submit"] {
	float: left;
	padding: 3px 4px;;
	height: 25px;
	margin: 2px auto;
}

.new_blocking input[type="submit"] {
	float: right;
	padding: 3px 4px;;
	height: 25px;
	margin: 2px auto;
}

.edit_relationship input[type="submit"] {
	float: left;
	padding: 3px 4px;;
	height: 25px;
	margin: 2px auto;
}

.edit_blocking input[type="submit"] {
	float: right;
	padding: 3px 4px;;
	height: 25px;
	margin: 2px auto;
}

.borrow_blocks {
	margin-right: 16px;
}

.list_debaters {
	margin: 20px 30px;
	padding: 10px;
	
	text-align: left;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow:0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    box-shadow:0 3px 5px #000;
}

.list_debaters h2 {
	padding: 0 5px;
	margin-right: 10px;
	margin-left: 5px;
	text-align: center;
	
}

.list_names {
	width: 50%;
	float:left;
}

.list_names h2 {
	-webkit-box-shadow:0 0 10px #000;  
	-moz-box-shadow: 0 0 10px #000;
	box-shadow:0 2px 10px #000;
}

.list_ranks h2 {
	-webkit-box-shadow:0 0 10px #000;  
	-moz-box-shadow: 0 0 10px #000;
	box-shadow:0 2px 10px #000;
}

.list_name {
	margin-left: 20px;
	width: 400px;
	text-align: left;
	float:left;
}