.debatelist_container {
	padding: 4px 2px;
	height: 300px;
	width: 325px;
	margin: 5px 20px;
	border:1px solid #ccc;
	background-color: #fafafa;
	margin: 0 10px;
	overflow: auto;
	float:left;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/* Shadow */
	-webkit-box-shadow:0 0 40px #000;
    -moz-box-shadow: 0 0 40px #000;
    box-shadow:0 10px 20px #000;
}

.containertitle {
	height: 20px;
	background-color: #ddd;
	color: #000033;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;
	padding-top: 4px;
	margin-bottom: 10px;

	font-size: 15px;
}