// Place all the styles related to the Debaters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.profile {
	width: 100%;
	margin-bottom: 0;
}

.main {
	width: 70%;
	padding: 1em;
}

ul.debaters {
	margin-top: 1em;
}

.debaters li {
	list-style: none;
	text-align: left;
}

.sidebar {
	float:right;
	width: 40%;
	margin-top: 1em;
	padding: .5em;
	vertical-align: top;
	background: #ffc;
	text-align: left;
}

.sidebar a {
	text-decoration: none;
}

.stats {
	font-size: 75%;
	text-align: left;
}


