
input[type="submit"] {
	-o-transform-origin: 26px 16px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(243, 243, 243);
	background-origin: padding-box;
	
	border-color: rgb(153, 153, 153);
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;

	box-shadow: rgb(68, 150, 231) 0px 0px 5px 0px, rgb(255, 255, 255) 0px 0px 10px 0px inset;
	box-sizing: border-box;
	color: rgb(85, 85, 85);
	column-gap: 11px;
	
	cursor: pointer;
	display: inline-block;
	font-family: Arial;
	font-size: 13px;
	font-weight: 700;
	height: 32px;
	outline-color: invert;
	outline-style: none;
	outline-width: 3px;
	padding: 7px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	width: auto;
	word-wrap: break-word;
}

input[type="submit"]:hover {
	box-shadow: 4px 4px 4px rgb(68, 150, 231), inset 4px 4px 4px rgb(255, 255, 255);
	
}

buttond {
	-o-transform-origin: 26px 16px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(243, 243, 243);
	background-origin: padding-box;
	
	border-color: rgb(153, 153, 153);
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;

	box-shadow: rgb(68, 150, 231) 0px 0px 5px 0px, rgb(255, 255, 255) 0px 0px 10px 0px inset;
	box-sizing: border-box;
	color: rgb(85, 85, 85);
	column-gap: 11px;
	cursor: pointer;
	display: inline-block;
	font-family: Arial;
	font-size: 15px;
	font-weight: 700;
	height: 32px;
	outline-color: invert;
	outline-style: none;
	outline-width: 3px;
	padding-top: 3.5px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	width: auto;
	word-wrap: break-word;
}

buttond a {
	
	text-decoration: none;
	padding: 7px 15px;
	vertical-align: middle;
	
}

buttond a:visited {
	color: rgb(85, 85, 85);
}
buttond :hover {
	box-shadow: 4px 4px 4px rgb(68, 150, 231), inset 4px 4px 4px rgb(255, 255, 255);
	border-radius: 3px;
	
}