.judge_container {
	padding: 4px 2px;
	height: 300px;
	width: 350px;
	margin: 5px 20px;
	border:1px solid #ccc;
	background-color: #fafafa;
	margin: 0 auto;
	overflow: auto;
	
/*	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;*/

/*	-webkit-box-shadow:0 0 40px #000;
    -moz-box-shadow: 0 0 40px #000;
    box-shadow:0 10px 20px #000;*/
}

.judge_container h2 {
	height: 20px;
	background-color: #ddd;
	background-image: url(header_bg.gif);
	color: #000033;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;
	padding-top: 4px;
	margin-bottom: 10px;

	font-size: 15px;
}

.containercontent {
	text-align: left;
}

#joined_no_judge {
}

#unjoined_no_judge {
}

.debate_link_joined a {
	font-style:italic;
}

.debate_link_unjoined a {
	font-style:italic;
}
