.judge_container {
	padding: 10px 10px;
	min-height: 250px;
	max-height: 600px;
	width: 325px;
	border: 1px solid silver;
	background-color: #fafafa;

/*	position: relative;*/
/*	float:left;*/
/*	margin-left:40px;*/
	
	margin:0 auto;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow:0 0 20px #000;
	-moz-box-shadow: 0 0 20px #000;
	box-shadow:0 5px 10px #000;
}

.judge_container h2 {
	-webkit-box-shadow:0 0 10px #000;  
	-moz-box-shadow: 0 0 10px #000;
	box-shadow:0 2px 10px #000;

	font-size: 30px;
	margin-top: 0;
}



#joined_no_judge {
}

#unjoined_no_judge {
}

.debate_link_joined a {
	font-style:italic;
}

.debate_link_joined {
	background-color: #e0eeee;
}

.debate_link_unjoined a {
	font-style:italic;
}

.debate_link_unjoined {
	background-color: #e0eeee;

}

.rating_form {
	margin-top: 10px;
	padding: 5px 10px;
	border:1px solid #ccc;
	background-color: #fafafa;
	
	-webkit-box-shadow:0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    box-shadow:0 5px 10px #000;
}
.rating_form select {
	width: 80px;
	float:left; 
	margin-top: 25px;
	margin-left: 30px;
}

.rating_form .field {
	margin-top: -5px;
}

