.topic_container {
	padding: 10px 10px;
	height: 390px;
	width: 325px;
	border: 1px solid silver;
	background-color: #fafafa;

	position: relative;
	float:left;
	margin-left:10px;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow:0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    box-shadow:0 5px 10px #000;
}

.topic_container h2 {
	-webkit-box-shadow:0 0 10px #000;  
	-moz-box-shadow: 0 0 10px #000;
	box-shadow:0 2px 10px #000;

	font-size: 30px;
	margin-top: 0;
}

.create_container {
	padding: 10px 10px;
	min-height: 390px;
	width: 325px;
	border: 1px solid silver;
	background-color: #fafafa;

	position: relative;
	float:right;
	margin-right:10px;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow:0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    box-shadow:0 5px 10px #000;
}

.create_container h2 {
	-webkit-box-shadow:0 0 10px #000;  
	-moz-box-shadow: 0 0 10px #000;
	box-shadow:0 2px 10px #000;

	font-size: 30px;
	margin-top: 0;
}

.topic_position_container {
	padding: 5px 10px;
/*	height: 20px;*/
	width: 250px;
	border: 1px solid silver;
	background-color: #fafafa;

	position: relative;
	overflow: auto;
	margin: 0 auto;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow:0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	box-shadow:0 2.5px 5px #000;
}

.list_matches_container {
	padding: 10px 10px;
	height: 130px;
	width: 300px;
	border: 1px solid silver;
	background-color: #fafafa;

	position: relative;
	margin: 0 auto;

	-webkit-box-shadow:0 0 20px #000;
	-moz-box-shadow: 0 0 20px #000;
	box-shadow:0 5px 10px #000;
}

.list_matches_container h3 {
	margin: 0 auto;	
	margin-bottom: 5px;
}

.smallcontent {
	height: 105px;
}

.create_form_container h3 {
	margin: 0 auto;	
/*	margin-bottom: 5px;*/
}

.create_form_container {
	text-align: center;	
	background-color: #fafafa;
	margin: 10px;

}

.debate_link a {
	font-style:italic;
}

.debate_link li {
	font-size: 15px;
}