.join_container {
	padding: 4px 2px;
	height: 365px;
	width: 325px;
	border: 1px solid silver;
	background-color: #fafafa;
	margin: 0 34px;
	margin-top: 20px;
	position: relative;
	overflow: auto;
	float:left;
	text-align: center;
}

.create_container {
	padding: 4px 2px;
	height: 365px;
	width: 325px;
	border: 1px solid silver;
	background-color: #fafafa;
	margin: 0 34px;
	margin-top: 20px;
	position: relative;
	overflow: auto;
	float:left;
	text-align: center;
}

.topic_position_container {
	padding: 4px 2px;
/*	height: 150px;*/
	width: 300px;
	border:1px solid #ccc;
	background-color: #fafafa;
	margin: 0 auto;
	margin-bottom: 5px;
	overflow: auto;	
}

.list_matches_container {
	padding: 4px 2px;
	height: 150px;
	width: 300px;
	border:1px solid #ccc;
	background-color: #fafafa;
	margin: 0 auto;
	margin-bottom: 5px;
	overflow: auto;

/*	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;*/

/*	-webkit-box-shadow:0 0 40px #000;
    -moz-box-shadow: 0 0 40px #000;
    box-shadow:0 10px 20px #000;*/
}

.create_form_container {
	padding: 4px 2px;
	height: 315px;
	width: 300px;
	border:1px solid #ccc;
	background-color: #fafafa;
	margin: 0 auto;
	margin-bottom: 5px;
	overflow: auto;

/*	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;*/

/*	-webkit-box-shadow:0 0 40px #000;
    -moz-box-shadow: 0 0 40px #000;
    box-shadow:0 10px 20px #000;*/	
}

.debate_link a {
	font-style:italic;
}