#debater_nav {
	width: 100%;
	text-align: left;
}

nav {
	background-color: black;
	padding: 4.5px 0.7em;
	white-space: nowrap;
	
	color: white;
    font-family: Arial;
    font-size: 13.1px;
	font-weight: 600;
    text-align: left;
}

nav a {
	color: #5bb9df;
	text-decoration: none;
	padding: 4px 7px;
}

nav a:hover {

	background-color: #222;
}



