.new_tp_container {
	padding: 4px 2px;
	height: 300px;
	width: 325px;
	border: 1px solid silver;
	background-color: #fafafa;
	margin: 0 auto;
	margin-top: 30px;
	position: relative;
	overflow: auto;
	text-align: center;

/*	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;*/

/*	-webkit-box-shadow:0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    box-shadow:0 5px 10px #000;*/
}

.new_tp_container h2 {
	height: 20px;
	background-color: #ddd;
	background-image: url(header_bg.gif);
	color: #000033;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;
	padding-top: 4px;
	margin-bottom: 10px;

	font-size: 15px;	
}