.field-topicposition {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
}

.action-topicposition {
	margin: 0;
}

.argument-field {
	background-color: #cccccc;
}

#first-argument {
	font-size: 14px;
}

/*div class for topic field*/
.field-topic {
	float: left;
}

#topic-position-field  {
	font-size: 14px;
	font-weight: bold;
}

.topic_container {
	padding: 10px 10px;
	min-height: 350px;
	width: 325px;
	border: 1px solid silver;
	background-color: #fafafa;

	position: relative;
	float:left;
	margin-left:10px;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow:0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    box-shadow:0 5px 10px #000;
}

.topic_container h2 {
	-webkit-box-shadow:0 0 10px #000;  
	-moz-box-shadow: 0 0 10px #000;
	box-shadow:0 2px 10px #000;

	font-size: 30px;
	margin-top: 0;
}

.topic-containercontent {
	max-height: 150px;
	overflow: auto;
}

.debate_link a {
	font-size: 12px;
	color: #0000FF;
}

.topic-link-width {
	float: left;
	width: 40%;
	height: 18px;
	overflow: hidden;
}

.topic-starter-width {
	float: left;
	min-width: 30%;
	max-width: 32%;
	font-size: 12px;
	height: 18px;
}

.topic-argument-width {
	font-size: 12px;
	min-height: 18px;
	max-height: 27px;
	padding: 2px 1px 0 1px;
	overflow: hidden;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.topic-time-width {
	font-size: 12px;
	min-height: 18px;
	max-height: 27px;
	padding: 2px 1px 0 1px;
	overflow: hidden;
}

.topic-argument-width a {
	color: #000000;
	text-decoration: none;
}

.topic-created-width {
	height: 18px; 
	overflow: hidden; 
	font-size: 11px;
}

.topic-heading {
	font-size: 12px; 
	text-align: left;
	font-weight: bold;
	margin-left: 2px;
	color: #888888;

}
.debate-link-topic a {
	float: left;
	max-width: 72%;
	height: 14px;
	
	padding: 1px 3px 0px 3px;
	margin-top: 1px;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	overflow: hidden;
	
	font-weight: bold;
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

}

.debate-link-topic a:hover {
	background-color: #cccccc;
	border: 1px solid #000000;
}

.pro {
	float: right;
	list-style-type: none;
	padding: 0;
	margin-right: 5px;
	padding-right: 25px;
	height: 18px;
	
	background-image: url(pro-bubble-d.gif);
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

.con {
	float: right;
	list-style-type: none;
	padding: 0;
	margin-right: 5px;
	padding-right: 25px;
	height: 18px;
	
	background-image: url(con-bubble-d.gif);
	background-repeat: no-repeat;
	background-position: 100% 0%;
}
.create_form_container h3 {
	margin: 0 auto;	
}

.create_form_container {
	text-align: center;	
	background-color: #fafafa;
	margin: 0px;

}


#versus-position-field, #versus-position-field2 {
	width: 90px;
}


.field-position {
	float: left;
}

.action-topicposition{
	clear: both;
	text-align: center;
}