// Place all the styles related to the Trackings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	text-align: center;
	font-size: 40px;
	margin: 10px 5px;
}


.trackingdebatecontainer {
	float:left;
	padding-top: 5px;
	width: 355px;
	height: 450px;
	margin: 5px 20px;
	border:1px solid #ccc;
		
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/* Shadow */
	-webkit-box-shadow:0 0 40px #bcd;
    -moz-box-shadow: 0 0 40px #ccc;
    box-shadow:0 10px 20px #abc;

}

