<h3> Trending Topics </h3>
<div class="containercontent">
	<% if !trending.nil? %>
		<% if !trending.empty? %>
			<% trending.each do |topic| %>
				<li> <%= link_to topic.topic, topic_positions_matches_path(:topic_position => {:topic => topic.topic, :position => false}), :method => :post, :remote => true %> </li>
			<% end %>
		<% else %>
			No Trending Topics
		<% end %>
	<% else %>
		No Trending Topics
	<% end %>
</div>
