<div id="suggested_debates" class="list_matches_container">
	<h3> Other Suggested Debates </h3>
	<div class="containercontent">
		<% if !@matching[:suggested_debates].empty? %>
			<% @matching[:suggested_debates].each do |suggested_debate| %>
				<div class="debate_link <%= suggested_debate.tp.position == true ? "pro" : "con" %>" data-id="<%= suggested_debate.id %>"> 
					<li> <%= ": #{suggested_debate.tp.topic}"%> >>> <%= link_to "\"#{suggested_debate.topic}\"", suggested_debate %> </li>
				</div>
			<% end %>
		<% else %>
			No Suggested Debates
		<% end %>
	</div>
</div>