<script src="http://debate-app-jug.herokuapp.com:80/application.js" type="text/javascript"></script>

<script type="text/javascript"> 
  var jug = new Juggernaut({     
     host: 'debate-app-jug.herokuapp.com',
     port: 80,
	 secure: false,
	 transports: ['xhr-polling', 'jsonp-polling']
  });

  jug.subscribe("matches", function(data){
	// alert(data.debate_id);
	$(".debate_link[data-id="+ data.debate_id +"]").hide();
  });
</script>

<h1> List of Matching Debates </h1>

<% @matching_debates.each do |matching_debate| %>
	<div class="debate_link" data-id="<%= matching_debate.id %>"> 
		<li> <%= link_to matching_debate.topic, matching_debate %> </li>
	</div>
<% end %>
