<% if Rails.env.development? or Rails.env.test? %>
	<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
	  var jug = new Juggernaut;
	</script>

<% else %>	
	<script src="http://debate-app-jug.herokuapp.com:80/application.js" type="text/javascript"></script>
	<script type="text/javascript">
	  var jug = new Juggernaut({     
	     host: 'debate-app-jug.herokuapp.com',
	     port: 80,
		 secure: false,
		 transports: ['xhr-polling', 'jsonp-polling']
	  });	
	</script>
<% end %>

<script type="text/javascript">
  jug.subscribe("matches", function(data){
	// alert(data.debate_id);
	// $(".debate_link[data-id="+ data.debate_id +"]").hide();
	if (data.func == "hide") {
		$(".debate_link[data-id="+ data.obj +"]").hide();
	}
	if (data.func == "unhide") {
		$(".debate_link[data-id="+ data.obj +"]").show();
	}
	if (data.func == "append_to_matching") {
		$("#matching_debates").append(data.obj);
	}
	if (data.func == "append_to_suggested") {
		$("#suggested_debates").append(data.obj);
	}
  });
</script>

<h1> List of Debates to Join </h1>

<div class="join_container">
	<div class="topic_position_container">
		<%= "#{@topic_position.position == true ? "PRO" : "CON"}: #{@topic_position.topic}" %>
	</div>
	<%= render :partial => "/topic_positions/list_matching_debates" %> 
	<%= render :partial => "/topic_positions/list_suggested_debates" %>
</div>
<div class="create_container">
	<div class="topic_position_container">
		Start Your Own Debate
	</div>
	<%= render :partial => "/topic_positions/form_new_debate" %> 	
</div>

