<h1>Look for a Matching Debate!</h1>
<div class="new_tp_container">
	<div class="containertitle"> Debate </div>
	<div class="middlelanding">
		<div class="buttond2">
			<span class="debate-topic-position">
				<%= render '/topic_positions/form_topic_position' %>
			</span>
		</div>
	</div>
</div>