<h1>Trackings#index</h1>

<%= @tracking_debates.size %><br><%= @tracking_debates %>
<br><br>

<% @tracking_debates.each do |debate| %>
  <%= render :partial => "/debates/debate", :locals => {:debate => debate} %>
<% end %>