<%= javascript_include_tag "short_polling" %>

<h1>Tracking debates</h1>

<% @tracking_debates.each do |debate| %>
  <%= render :partial => "/debates/debate", :locals => {:debate => debate} %>
<% end %>